<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoolMusicApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>838CDFA61F99C6CD0022A5D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>838CDFBA1F99C6CD0022A5D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>838CDFC51F99C6CD0022A5D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
